body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
    list-style-type: none;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

/* MOBILE HEADER STYLES */

.header {
    
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 2px 1px 0px rgba(46, 47, 66, 0.08);

}

.header-items {
    display: none;
}

.address {
    display: none;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.logo-header {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}

.logo-header-part {
    color: #2E2F42;
}


@media screen and (max-width: 767px) {
    .header {
    padding-top: 16px;
    padding-bottom: 16px;}

.mobile-menu-open-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu-wrapper {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background-color: #FFFFFF;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

    }

    .mobile-menu-wrapper.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 320px;
        padding: 72px 24px 24px 16px;
        margin: 0 auto;
        border-radius: 4px;
        min-height: 100vh;
        background: #FFFFFF;
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.1);
        padding: 0;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn:hover {
        background-color: #404BBF;
        border: none;
        fill: #FFFFFF;

    }

    .mobile-menu-close-btn:focus {
        background-color: #404BBF;
        border: none;
        fill: #FFFFFF;

    }

    .mobile-menu-close-btn-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-btn-icon:hover {
        fill: #FFFFFF;
    }

    .mobile-menu-close-btn-icon:focus {
        fill: #FFFFFF;
    }

    .mobile-menu-navigation {
        margin-bottom: auto;
    }

    .mobile-menu {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        gap: 40px;
    }

    .mobile-menu-item-title {
        color: #2E2F42;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        padding: 0;
    }

    
    .mobile-menu-address {
        font-style: normal;

    }

    .mobile-menu-address-items {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .address-item {
        font-family: Roboto, sans-serif;
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-decoration: none;
        color: #434455;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    .title-color {
        color: #404BBF;

    }
    .focused-link {
        color: #4D5AE5;
    }

    .mobile-menu-social-list {
        display: flex;
        justify-content: center;
        margin-top: 48px;
        gap: 40px;
    }

    .mobile-menu-social-list-item {
        width: 40px;
        height: 40px;
        ;
    }

    .mobile-menu-social-link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        background-color: #4D5AE5;
        border-radius: 50%;
        box-shadow: none;
        fill: #F4F4FD;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
        .advantages-section {
            display: flex;
            flex-direction: column;
            gap: 72px;;
        }
}  
.section-one {
    background-color: #2e2f42;
        padding-top: 72px;
        padding-bottom: 72px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/dark-bg-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;

}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
    .section-one {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/dark-bg-mobile@2x.jpg);
    }
}

.slogan {
color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02px;
    margin-left: auto;
    margin-right: auto;
    width: 169px;
}

.button-style {
    cursor: pointer;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 72px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-style:hover,
.button-style:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .button-style {
        margin-top: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .button-style {
margin-top: 48px;
    }
}

.section-two-icon {
    display: none;
}

.section-two {
    background-color: #FFFFFF;
    padding-bottom: 96px;
    padding-top: 96px;
}
@media screen and (min-width: 1158px) {
    .section-two {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    
}

.features-subtitle {
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    display: block;
    margin-bottom: 8px;

}

@media screen and (min-width: 768px) {
    .features-subtitle {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .features-subtitle {
        font-size: 20px;
    }
}

.features-descr {
    color: #434455;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;

}
@media screen and (min-width: 1158px) {
    .features-descr {
        font-weight: 400;
    }
}

.section-three {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #F4F4FD;
}

@media screen and (min-width: 1158px) {
    .section-three {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 767px) {
    .our-team-container {
        max-width: 296px;
    }
}

.slogan-descr {
    display: block;
    margin-bottom: 72px;
    color: #2e2f42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.features-subtitle-person {
    color: #2e2f42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.features-descr-position {
font-weight: 400;
text-align: center;
margin-bottom: 8px;
}
.card-info {
   background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
            0px 1px 1px 0px rgba(46, 47, 66, 0.16),
            0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (max-width: 767px) {
    .card-info:not(:last-child) {
        margin-bottom: 72px;
    }
}
.employee {
    padding: 32px 0;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.social-links-item .social-links-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;

}

.social-links-item {
    width: 40px;
    height: 40px;
}

 .social-links-link {
    fill: #F4F4FD;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

  .social-links-link:hover,
    .social-links-link:focus {
    background-color: #404BBF;
   }

@media screen and (min-width: 768px) {
    .section-three-items {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
    }
.card-info {
    width: calc((100% - 24px) / 2);
}

}

@media screen and (min-width: 1158px) {
    .section-three-items {
        flex-wrap: nowrap;
        gap: 24px;
    }
    .card-info {
        width: calc((100% - 72px) / 4);
    }
}

.section-four {
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-four-over {
    position: relative;
    overflow: hidden;
}

.card-info-section-four:hover .overlay {
    transform: translateY(0);
}
.card-info-section-four:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.overlay {
    display: inline-block;
    padding: 40px 32px;
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.app {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

@media screen and (max-width: 767px) {
    .card-info-section-four:not(:last-child) {
        margin-bottom: 48px;
    }
}

.card-info-section-four .features-subtitle-four {
    text-align: left;
    margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
    .section-four-items {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
        .card-info-section-four {
            width: calc((100% - 24px) / 2);
        }
}
@media screen and (min-width: 1158px) {
    .section-four {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .section-four-items {
        gap: 48px 24px;
    }
    .card-info-section-four {
        width: calc((100% - 48px) / 3);
    }
}

.footer {
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}

.logo-footer-part {
    color: #F4F4FD;
}
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-title {
    color: #ffffff;
    letter-spacing: 0.02em;
    text-align: center;
    font-weight: 500;
    margin-bottom: 16px;

}

.social-links-container {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.social-links-footer-item {
    width: 40px;
    height: 40px;
}

.social-links-footer-link {
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-links-footer-item .social-links-footer-link {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.social-links-footer-link {
    fill: #F4F4FD;
}

.social-links-footer-link:hover,
.social-links-footer-link:focus {
    background-color: #31d0aa;
}

.footer-input {
    width: 288px;
    height: 40px;
    padding-left: 8px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.04em;
    outline: 0px solid transparent;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

}

@media screen and (min-width: 768px) {
    .footer-input {
        width: 264px;
    }
}
.footer-submite {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    background-color: #4d5ae5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #ffffff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.footer-submite:hover,
.footer-submite:focus {
    background-color: #404bbf;
}

.social-link-subscribe  {
    margin-left: 16px;
    fill: #FFFFFF;
}

.footer-form-title {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 500;
    margin-bottom: 16px;
    line-height: 1.5;

}
@media screen and (max-width: 767px) {
    .logo-footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 72px;
    }
.social-media-footer {
    margin-bottom: 72px;
}
.footer-form-label {
    display: block;
    margin-bottom: 16px;
}
.footer-submite {
    margin: 0 auto;
}

}

@media screen and (min-width: 768px) {
.footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
}
.footer-form {
    display: flex;
    gap: 24px;
}
.footer-title {
    text-align: left;
}
.footer-form-title {
    text-align: left;
}

}

@media screen and (min-width: 1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
    }
.logo-footer-container {
    margin-right: 120px;
}

.social-media-footer {
    margin-right: 80px;
}

.footer-container {
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
    gap: unset;
}
.footer-input {
    width: 264px;
}

}

.features-descr-two {
    display: flex;
    width: 264px;
    color: #F4F4FD;
    letter-spacing: 0.02em;

}



/* -- BACKDROP WITH MODAL WINDOW -- */

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 9999999;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

}

.backdrop.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    width: 288px;
    min-height: 623px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 72px;
    padding-bottom: 24px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #FCFCFC;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

@media screen and (min-width: 768px) {
    .modal {
        padding-left: 23px;
        padding-right: 25px;
        width: 408px;
        min-height: 584px;
    }
}
@media screen and (min-width: 1158px) {
    .modal {
        padding-left: 25px;
    }
}

.modal-close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding: 0;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    fill: #2E2F42;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    line-height: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover, 
.modal-close-btn:focus {
    background-color: #404BBF;
    fill: #FFFFFF;
    border: none;
}

.modal-close-btn-icon {
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-form-description {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 16px;
    max-width: 256px;
}

.review-form-field-wrapper {
    margin-bottom: 8px;
}

.review-form-field-label {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #8E8F99;
    line-height: 1.17;
    letter-spacing: 0.04em;

}
.review-form-input {
    padding-left: 34px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    background-color: transparent;
    color: rgba(46, 47, 66, 0.4);
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.review-form-input:focus {
    border-color: #4D5AE5;
}
.review-form-input-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus + .review-form-input-icon {
    fill: #4D5AE5;
}
.review-form-field-wrapper {
    position: relative;
}
.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}
.review-form-comment {
    display: block;
    width: 100%;
    height: 120px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    resize: none;
    outline: 0px solid transparent;
    background-color: transparent;
    padding: 8px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: rgba(46, 47, 66, 0.4);  
}
.review-form-comment::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.review-form-comment:focus {
    border-color: #4D5AE5;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-checkbox:checked
+ .review-form-checkbox-label
> .review-form-own-checkbox {
    background-color: #404BBF;
    border-radius: #404BBF;
    border: none;
    fill: #F4F4FD;
}
 .review-form-checkbox:focus
 + .review-form-checkbox-label
 > .review-form-own-checkbox {
    outline: 1px solid #404BBF;
 }
.review-form-own-checkbox {
    display: inline-flex;
    margin-right: 8px;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: transparent;
}
.review-form-own-checkbox-icon {
    fill: #e7e9fc;
    opacity: 0;
}

.review-form-checkbox:checked + .review-form-checkbox-label .review-form-own-checkbox-icon {
    opacity: 1;
}
.review-form-checkbox-label {
    color: #8e8f99;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.review-form-link { 
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    text-decoration: underline;

}
.review-form-submit-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 169px;
    padding: 16px 32px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background: #4d5ae5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .review-form-description {
        max-width: 360px;
    }
}
@media screen and (min-width: 1158px) {
    .review-form-input {
        padding-left: 38px;
    }
}


@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
       }
  
  .mobile-menu-open-btn {
      display: none;
  }

  .mobile-menu-wrapper {
      display: none;
  }

  .navigation {
      display: flex;
      align-items: center;
  }
.header-items {
    display: flex;
    margin-right: auto;
    gap: 40px;
}

.address {
    display: flex;
    flex-direction: column;
}
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-one {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/dark-bg-tablet@1x.jpg);
        max-width: 768px;
        padding-top: 112px;
        padding-bottom: 112px;
    
}

.logo-header {
        color: #4d5ae5;
        font-family: Raleway, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
    margin-right: 120px;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo-header-part {
    color: #2E2F42;
}

.slogan {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
}
.header-items {
    color: #2E2F42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.nav-link {
    padding-top: 24px;
    padding-bottom: 24px;

}

.nav-link.active {
    position: relative;
    color: #404BBF;
}

.nav-link.active::after {
    position: absolute;
    left: 0;
    bottom: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}

.address-link {
    color: #434455;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

}
 .advantages-section {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     row-gap: 72px;
     column-gap: 24px;
     
 }

.section-two {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
}

.section-two-items-descr {
    width: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .our-team-container {
        max-width: 584px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
    .footer-container {
        max-width: 584px;
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .section-one {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
        ),
        url(../images/dark-bg-tablet@2x.jpg);
    }
}






@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
       }

.logo-header {
    margin-right: 76px;
}

.header-items {
    margin-right: 332px;
}

.nav-link {
    display: block;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #404BBF;
    text-decoration: underline;
}

.active {
    position: relative;
    color: #404BBF;
}

.address-link {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
    padding-bottom: 24px
}
.nav-contacts {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding-top: 24px;
        padding-bottom: 24px;
}
.section-one {
background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
url(../images/people-office-desc@2x.jpg);
padding-top: 188px;
padding-bottom: 188px;
max-width: 1440px;

    }
    .section-two-items {
        display: flex;
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        justify-content: center;
        list-style-type: none;
        gap: 24px;

    }
    .features-subtitle-person {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
    .section-two-items-descr {
        width: calc((100% - 3 * 24px) / 4);
    }

    .section-two-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 8px;
        width: 264px;
        height: 112px;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        background: #f4f4fd;

    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1158px),
screen and (min-resolution: 2dppx) and (min-width: 1158px),
screen and (min-device-pixel-ratio: 2) and (min-width: 11588px) {
    .section-one {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/people-office-desc@2x.jpg)
    }
}











    
